name: Build and Publish Multi-Arch Docker Image
permissions:
  contents: read
  pull-requests: read
  packages: write
on:
  workflow_run:
    workflows: ["Codacy Security Scan"]  # name of the Docker workflow
    types:
      - completed
env:
  GHCR_IMAGE: ghcr.io/${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set date tag
        id: tag
        run: |
          DATETIME_TAG=$(date +'%Y.%m.%d_%H%M%S')
          echo "DATETIME_TAG=$DATETIME_TAG" >> $GITHUB_ENV
          
      - name: Build and push multi-arch images
        run: |      
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -f ./Dockerfile \
            -t ghcr.io/${{ github.repository }}:latest-arm64 \
            -t ghcr.io/${{ github.repository }}:latest-amd64 \
            -t ghcr.io/${{ github.repository }}:latest \
            -t ghcr.io/${{ github.repository }}:${{ env.DATETIME_TAG }} \
            --push .
      
